@{
    ViewBag.Title = "Outlier Protégé";
}

<section class="section swatch-red-white">
    <div class="container">
        <header class="section-header underline">
            <h1 class="headline super hairline">Outlier Protégé</h1>
            <p>Want to become an outlier within your field of expertice? Research shows that you have to put in around 10000 hour of practise, an idea that the book: <i>Outliers</i> by Malcom Gladwel popularized.</p>
        </header>
        <p>Outlier Protège can help you track your progress. By answering a couple of questions, we will give you an estimate on where you currently stand.</p>
        <p>If you registrer with us, you can use this tool to update your progress by adding hours spent in your field either daily, monthly or once a year.</p>
        <p>As a registered user you will also earn badges and achievments based on your progress to motivate you to achieve your goal of becomming an Outlier.</p>
    </div>
</section>
<section class="section swatch-white-red has-top">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <div data-ng-view="data-ng-view" id="main"></div>
    </div>
</section>