@{
    ViewBag.Title = "Outlier Protège";
}

<div class="jumbotron">
    <h1>Outlier Protège</h1>
    <p class="lead">Want to become an outlier within your field of expertice? Research shows that you have to put in around 10000 hour of practise, an idea that the book: <i>Outliers</i> by Malcom Gladwel popularized.</p>
    <p>Outlier Protège can help you track your progress. By answering a couple of questions, we will give you an estimate on where you currently stand.</p>
    <p>If you registrer with us, you can use this tool to update your progress by adding hours spent in your field either daily, monthly or once a year.</p>
    <p>As a registered user you will also earn badges and achievments based on your progress to motivate you to achieve your goal of becomming an Outlier.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-ui-view id="main"></div>
    </div>
</div>