<wizard on-finish="fpc.wizardFinished(fpc.protegeViewModel)" hide-indicators="true">
    <wz-step title="Your field">
        <label for="field">Your field of expertice</label>
        <input type="text" name="field" value="" typeahead="field as field.Name for field in fpc.fields | filter:$viewValue | limitTo:8" ng-model="fpc.protegeViewModel.selectedField" />
        <input type="submit" wz-next value="Continue" data-ng-disabled="!fpc.protegeViewModel.selectedField" class="btn btn-default" />
    </wz-step>
    <wz-step title="Your experience">
        <label for="years">How many years of expertice do you have in {{ fpc.protegeViewModel.selectedField.Name }}?</label>
        <input type="number" name="years" value="" data-ng-model="fpc.years" />
        <input type="submit" wz-next value="Continue" data-ng-disabled="!fpc.years" class="btn btn-default" data-ng-click="fpc.addYears(fpc.years)" />
    </wz-step>
    <wz-step title="Hours logged already">
        <ul style="list-style: none">
            <li data-ng-repeat="practiceVM in fpc.protegeViewModel.practiceVMs track by $index">
                <h5>Year: {{ practiceVM.year }}</h5>
                <ul style="list-style: none">
                    <li data-ng-repeat="practice in practiceVM.practices">
                        <div class="row">
                            <div class="col-md-12">
                                <select><option>Studied</option><option>Worked</option></select> for <select><option>1 h</option><option>2 h</option></select> each week
                            </div>
                        </div>
                    </li>
                    <li class="text-right right">
                                <input type="button" class="btn btn-default" value="Add practice" data-ng-click="fpc.addPractice(practiceVM.year)" />
                    </li>
                </ul>
            </li>
        </ul>
        <input type="submit" wz-next value="All done!" />
    </wz-step>
</wizard>