@*<div data-ng-if="fpc.wizardStepIndex == 0">
        <label for="field">Your field of expertice</label>
        <input type="text" name="field" value="" typeahead="field.Name for field in fpc.fields | filter:$viewValue | limitTo:8" ng-model="fpc.selectedField" />
        <button data-ng-disabled="!fpc.selectedField" class="btn btn-default">Next</button>
    </div>
    <div data-ng-if="fpc.wizardStepIndex == 1">
        <label for="field">How many year have you been practicing in {{ fpc.selectedField }}?</label>
        <input type="number" value="" ng-model="fpc.selectedField" />

        <ul>
            <li data-ng-repeat="field in fpc.fields">
                {{ field.Name }}
            </li>
        </ul>
        <button data-ng-disabled="!fpc.selectedField" class="btn btn-default">Next</button>
    </div>*@
<wizard on-finish="fpc.wizardFinished(fpc.protegeViewModel)">
    <wz-step title="Your field">
        <label for="field">Your field of expertice</label>
        <input type="text" name="field" value="" typeahead="field as field.Name for field in fpc.fields | filter:$viewValue | limitTo:8" ng-model="fpc.protegeViewModel.selectedField" />
        <input type="submit" wz-next value="Continue" data-ng-disabled="!fpc.protegeViewModel.selectedField" class="btn btn-default" />
    </wz-step>
    <wz-step title="Your experience">
        <label for="years">How many years of expertice do you have in {{ fpc.protegeViewModel.selectedField.Name }}?</label>
        <input type="number" name="years" value="" ng-model="fpc.protegeViewModel.years" />
        <input type="submit" wz-next value="Continue" data-ng-disabled="!fpc.protegeViewModel.years" class="btn btn-default" />
    </wz-step>
    <wz-step title="Hours logged already">
        <ul>
            <li data-ng-repeat="year in fpc.yearsToLog(fpc.protegeViewModel.years) track by $index">
                <div class="row">
                    <div class="col-md-6">
                        <select><option>Studied</option><option>Worked</option></select>
                    </div>
                    <div class="col-md-6">
                        for <select><option>1 h</option><option>2 h</option></select> each week
                    </div>
                </div>
            </li>
        </ul>
        <input type="submit" wz-next value="All done!" />
    </wz-step>
</wizard>

@*<div data-op-wizard="" role="application" class="wizard clearfix" id="steps-uid-0">
        <div class="steps clearfix">
            <ul role="tablist">
                <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                    <a aria-controls="steps-uid-0-p-0" href="#steps-uid-0-h-0" id="steps-uid-0-t-0">
                        <span class="current-info audible">current step: </span>
                        <span class="number">1.</span> First Step
                    </a>
                </li>
                <li role="tab" class="done" aria-disabled="false" aria-selected="false">
                    <a aria-controls="steps-uid-0-p-1" href="#steps-uid-0-h-1" id="steps-uid-0-t-1">
                        <span class="number">2.</span> Second Step
                    </a>
                </li>
                <li role="tab" class="last done" aria-disabled="false" aria-selected="false">
                    <a aria-controls="steps-uid-0-p-2" href="#steps-uid-0-h-2" id="steps-uid-0-t-2">
                        <span class="number">3.</span> Third Step
                    </a>
                </li>
            </ul>
        </div>
        <div class="content clearfix">
            <h1 id="steps-uid-0-h-0" tabindex="-1" class="title current">First Step</h1>
            <div id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body current" style="display: block;" aria-hidden="false">
                First Content
            </div>
            <h1 id="steps-uid-0-h-1" tabindex="-1" class="title">Second Step</h1>
            <div id="steps-uid-0-p-1" role="tabpanel" aria-labelledby="steps-uid-0-h-1" class="body" style="display: none;" aria-hidden="true">
                Second Content
            </div>
            <h1 id="steps-uid-0-h-2" tabindex="-1" class="title">Third Step</h1>
            <div id="steps-uid-0-p-2" role="tabpanel" aria-labelledby="steps-uid-0-h-2" class="body" style="display: none;" aria-hidden="true">
                Third Content
            </div>
        </div>
        <div class="actions clearfix">
            <ul aria-label="Pagination" role="menu">
                <li class="disabled" aria-disabled="true">
                    <a role="menuitem" href="#previous">
                        Previous
                    </a>
                </li>
                <li aria-hidden="false" aria-disabled="false" style="display: block;">
                    <a role="menuitem" href="#next">Next</a>
                </li>
                <li style="display: none;" aria-hidden="true">
                    <a role="menuitem" href="#finish">
                        Finish
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
@*<div data-op-wizard="" role="application" class="wizard clearfix" id="steps-uid-0">
        <div class="steps clearfix">
            <ul role="tablist">
                <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                    <a aria-controls="steps-uid-0-p-0" href="#steps-uid-0-h-0" id="steps-uid-0-t-0">
                        <span class="current-info audible">current step: </span>
                        <span class="number">1.</span> Field
                    </a>
                </li>
                <li role="tab" class="done" aria-disabled="false" aria-selected="false">
                <a aria-controls="steps-uid-0-p-1" href="#steps-uid-0-h-1" id="steps-uid-0-t-1">
                    <span class="number">2.</span> Experience</a></li>
                <li role="tab" class="last done" aria-disabled="false" aria-selected="false">
                <a aria-controls="steps-uid-0-p-2" href="#steps-uid-0-h-2" id="steps-uid-0-t-2">
                    <span class="number">3.</span> Score</a></li>
            </ul>
        </div>
        <div class="content clearfix">
            <h1 id="steps-uid-0-h-0" tabindex="-1" class="title current">Field</h1>
            <div id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body current" style="display: block;" aria-hidden="false">
                <label for="field">Your field of expertice</label>
                <input type="text" name="field" value="" typeahead="field.Name for field in fpc.fields | filter:$viewValue | limitTo:8" ng-model="fpc.selectedField" />
            </div>

            <h1 id="steps-uid-0-h-1" tabindex="-1" class="title">Experience</h1>
            <div id="steps-uid-0-p-1" role="tabpanel" aria-labelledby="steps-uid-0-h-1" class="body" style="display: none;" aria-hidden="true">
                <label for="field">How many year have you been practicing in {{ fpc.selectedField }}?</label>
                <input type="number" value="" ng-model="fpc.selectedField" />
            </div>

            <h1 id="steps-uid-0-h-2" tabindex="-1" class="title">Score</h1>
            <div id="steps-uid-0-p-2" role="tabpanel" aria-labelledby="steps-uid-0-h-2" class="body" style="display: none;" aria-hidden="true">Third Content</div>
        </div><div class="actions clearfix"><ul aria-label="Pagination" role="menu"><li class="disabled" aria-disabled="true"><a role="menuitem" href="#previous">Previous</a></li><li aria-hidden="false" aria-disabled="false" style="display: block;"><a role="menuitem" href="#next">Next</a></li><li style="display: none;" aria-hidden="true"><a role="menuitem" href="#finish">Finish</a></li></ul></div>
    </div>*@