<h1>Outlier Protege</h1>
<h3>Track your progress, thanks to Malcom Gladwell</h3>


<label>Your field of expertice</label>
<input type="text" value="" typeahead="field.Name for field in fpc.fields | filter:$viewValue | limitTo:8" ng-model="fpc.selectedField" />

<ul>
    <li data-ng-repeat="field in fpc.fields">
        {{ field.Name }}
    </li>
</ul>
<button>Next</button>


