<div class="progress">
    <div style="{{ rc.precentage }}" role="progressbar" class="progress-bar  progress-bar-danger progress-bar-striped active" aria-valuenow="{{rc.hoursLogged}}" aria-valuemin="0" aria-valuemax="10000"></div>
</div>
